#jumbotron{
    background-color: #0D6EFD;
    padding: 20px;
    height: 250px;
    margin-top: 70px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#jumbotron2{
    background-color: #0D6EFD;
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.footer{
    margin-top: 20px ;
    padding: 20px 0px 20px 0px ;
    background-color: #0D6EFD;
    color: white;
}

.footer a{
    text-decoration: none;
     color: white;
}


.footers{
    padding: 20px;
}

.card-hotel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hoteles{
    text-align: center;
    justify-content: center;
}

.breadcrumb{
    background-color: #0D6EFD;
}

.breadcrumb a{
    color: white;
    text-decoration: none;
}

.breadcrumb-item.active{
 color: white;
 font-weight: bold;
}
